html {
  background-image: image-url("bg.jpg"), linear-gradient(#fe9400, #ffca00);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
}

header{
  height: 200px;
  width: 100%;
  background-image: image-url("Pokemon14.jpg");
  background-position: center;
  background-size: contain;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a{
  color: white;
  &:visited {
    color: cornsilk;
  }
  &.navlink{
    color: #AC2811;
    text-decoration: none;
    &:hover{
      color: cornsilk;
    }
  }
  &.link{
    color: black;
    &:visited {
      color: black;
    }
  }
}

button {
  a{
    color: #000;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }

  &.mainframe{
    border: 5px groove black;
    border-radius: 10px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 40px 20px 40px;
    text-align: center;
    background-image: image-url("walking.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #FF7D00;
  }
}
th{
  vertical-align: center;
  border: solid 1px black;
  padding: 3px;
  background-color: #FEF783;
}

td{
  vertical-align: center;
  border: solid 1px black;
  padding: 3px;
  background-color: #AC2811;
  color: #FEF783;
}

table{
  margin-left: auto;
  margin-right: auto;
}

nav{
  &#user_nav{
    border: 5px groove black;
    border-radius: 10px;
    height: 50px;
    // display: inline-block;
    background-image: image-url("container.png");
  }
}

span{
  &#loggedin{
    float: left;
    padding: 7px;
    background-color: burlywood;
    display: block;
    text-align: center;
    border-right: solid;
  }

  &.logbutton{
    float: left;
    padding: 16px;
    background-color: burlywood;
    border-right: solid;
    cursor: pointer;
  }

  &#moves{
    box-shadow: inset 0 -5px 1px 0px rgba(41, 128, 185,1.0);
    &:hover{
      font-color: black;
      background-color: rgba(41, 128, 185,1.0);
    }
  }
  &#pokemons{
    box-shadow: inset 0 -5px 1px 0px rgba(192, 57, 43,1.0);
    &:hover{
      font-color: black;
      background-color: rgba(192, 57, 43,1.0);
    }
  }
  &#trainers{
    box-shadow: inset 0 -5px 1px 0px rgba(39, 174, 96,1.0);
    &:hover{
      font-color: black;
      background-color: rgba(39, 174, 96,1.0);
    }
  }
  &#logout{
    box-shadow: inset 0 -5px 1px 0px rgb(171, 183, 183);
    &:hover{
      font-color: black;
      background-color: rgb(171, 183, 183);
    }
  }
  &#login{
    box-shadow: inset 0 -5px 1px 0px rgb(171, 183, 183);
    &:hover{
      font-color: black;
      background-color: rgb(171, 183, 183);
    }
  }
  &#signup{
    box-shadow: inset 0 -5px 1px 0px rgba(127, 140, 141,1.0);
    &:hover{
      font-color: black;
      background-color: rgba(127, 140, 141,1.0);
    }
  }
  &#users{
    box-shadow: inset 0 -5px 1px 0px rgba(127, 140, 141,1.0);
    &:hover{
      font-color: black;
      background-color: rgba(127, 140, 141,1.0);
    }
  }

  &.navbutton{
    float: right;
    padding: 16px;
    background-color: burlywood;
    border-left: solid;
    cursor: pointer;
  }

  &.flashmsg{
    text-align: center;
    padding: 16px;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
  }
}

img{
  &.pokemon{
    height: 175px;
  }

}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
