<% if params[:id].nil? %>
	<h1>New bag</h1>
<% else %>
	<% @trainer=Trainer.find(params[:id]) %>
	<h1>New bag for <%= @trainer.name %> </h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', bags_path %>
